<!--<header></header>-->
<!--<div>-->
<!--  <div class="row">-->
<!--    <div class="col-sm-3">-->
<!--      <h1>Team Brussel</h1>-->
<!--    </div>-->
<!--    <div class="col-sm-9">-->
<!--      <h4>Een web applicatie die het mogelijk maakt om developers in contact te brengen met bedrijven.</h4>-->
<!--      <h4>Log in als bedrijf of developer om zo in contact te komen met mogelijke opdrachten!</h4>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row justify-content-center">-->
<!--    <button class="btn btn-info mt-2">Login</button>-->
<!--    <button class="btn btn-info mt-2">Registreer</button>-->
<!--  </div>-->
<!--</div>-->

<div class="image-box">
  <h1 class="mytext">Buy our product</h1>
</div>
