<div class="container mt-4">
  <div class="content">
    <h2 class="mb-3">Opdrachten:</h2>
    <input type="text" class="form-control mb-3" [(ngModel)]="searchText" placeholder="Zoeken...">

    <div class="card myCard mt-4 shadow-sm" *ngFor="let opdracht of opdrachten | filter: searchText;">
      <div class="card-body">
        <h5 class="card-title">{{opdracht.title}}</h5>
        <!-- <h6 class="card-subtitle mb-2 text-muted"><span class="mr-3"
            *ngFor="let tag of opdracht.listTags">{{tag.name}}</span></h6> -->
        <p class="card-text">{{opdracht.description}}</p>
        <span class="ml-1"><button type="button" class="btn mybtn btn-dark" data-toggle="modal" data-target="#exampleModal" (click)="showBedrijfInfo(opdracht)">Bedrijf info</button></span>
        <span class="ml-1"><button type="button" class="btn mybtn btn-danger">Aanvraag opzeggen</button></span>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header ">
        <h5 class="modal-title " id="exampleModalLabel">Bedrijf info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
        <app-bedrijf-profiel *ngIf="selectedCompanyID" [companyID]="selectedCompanyID"></app-bedrijf-profiel>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Close</button>
      </div>
    </div>
  </div>
</div>