<div class="container mt-4">
  <div class="content">
    <h2 class="mb-3">Opdrachten:</h2>
    <input type="text" class="form-control mb-3" [(ngModel)]="searchText" placeholder="Zoeken...">

    <div class="card mt-2" *ngFor="let opdracht of opdrachten | filter: searchText;">
      <div class="card-body">
        <h5 class="card-title">{{opdracht.title}}</h5>
        <!-- <h6 class="card-subtitle mb-2 text-muted"><span class="mr-3"
            *ngFor="let tag of opdracht.listTags">{{tag.name}}</span></h6> -->
        <p class="card-text">{{opdracht.description}}</p>
        <button></button>
        <span class="ml-1"><button type="button" class="btn btn-success"
            (click)="assignmentAanvragen(opdracht)">Aanvragen</button></span>
        <span class="ml-1"><button type="button" class="btn mybtn btn-dark" data-toggle="modal"
            data-target="#exampleModal" (click)="showBedrijfInfo(opdracht)">Bedrijf info</button></span>
      </div>
    </div>

  </div>
</div>
