<div class="container mt-4">
      <h2 class="mb-3">Opdrachten:</h2>
      <input type="text" class="form-control mb-3" [(ngModel)]="searchText" placeholder="Zoeken...">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Opdracht Titel</h5>
          <h6 class="card-subtitle mb-2 text-muted">Opdracht soort (angular, html&css, react,...)</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          <!--          if status != done -> verwijderknop enabled-->
          <button type="button" class="btn btn-danger">Opdracht verwijderen</button>

          <!--          if status = done -> reviewknop enabled-->
          <button type="button" class="btn btn-success">Review schrijven</button>
        </div>
      </div>
  </div>
