<div class="ml-3 mr-3 mt-3">
  <div class="">
    <!--    -->
    <!--    Linkerkant van de pagina-->
    <!--    -->
    <div class="sidebar">
      <div class="filters">
        <h2>Filters:</h2>
        <div *ngFor="let tag of tags" class="form-check mycheckbox ml-2">
          <input class="form-check-input" type="checkbox" value="" id="tag">
          <label class="form-check-label" for="tag">
            {{tag.name}}
          </label>
        </div>
      </div>
    </div>

<!--    <div class="border-right"></div>-->

    <!--    -->
    <!--    Rechterkant van de pagina-->
    <!--    -->
    <div class="content">
      <h2 class="mb-3">Opdrachten:</h2>
      <input type="text" class="form-control mb-3" [(ngModel)]="searchText" placeholder="Zoeken...">

      <div class="card mt-2" *ngFor="let opdracht of opdrachten | filter: searchText;">
        <div class="card-body">
          <h5 class="card-title">{{opdracht.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted"><span class="mr-3" *ngFor="let tag of opdracht.listTags">{{tag.name}}</span></h6>
          <p class="card-text">{{opdracht.description}}</p>
          <span class="ml-1"><button type="button" class="btn btn-success" (click)="assignmentAanvragen(opdracht)">Aanvragen</button></span>
          <span class="ml-1"><button type="button" class="btn mybtn btn-dark" data-toggle="modal" data-target="#exampleModal" (click)="showBedrijfInfo(opdracht)">Bedrijf info</button></span>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bedrijf info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-bedrijf-profiel *ngIf="selectedCompany" [companyID]="selectedCompanyID"></app-bedrijf-profiel>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

