<div class="card col-lg-4 col-sm-10 col-m-10 mt-3 myCard container justify-content-center">
  <div class="card-body">
    <div class=" pt-5">
      <h1>Gebruikers beheren</h1>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Makers</h5>
          <div class="card-text">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">MakerID</th>
                <th scope="col">GebruikerID</th>
                <th scope="col">TypeID</th>
                <th scope="col">Nickname</th>
                <th scope="col">Geboortedatum</th>
                <th scope="col">Biografie</th>
                <th scope="col">LinkedIn</th>
                <th scope="col">Ervaring</th>
                <th scope="col">Contact info</th>
                <th></th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let maker of (makers | async)">
                <td>{{maker.makerID}}</td>
                <td>{{maker.typeID}}</td>
                <td>{{maker.userID}}</td>
                <td>{{maker.nickname}}</td>
                <td>{{maker.birthDate}}</td>
                <td>{{maker.biography}}</td>
                <td>{{maker.linkedIn}}</td>
                <td>{{maker.experience}}</td>
                <td>{{maker.contactInfo}}</td>
                <td>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#makerModal"
                          data-whatever="@mdo" (click)="onClickBewerkMaker(maker.makerID)">Bewerk
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#makerModal"
                          data-whatever="@mdo">Voeg toe
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Bedrijven</h5>
          <div class="card-text">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">CompanyID</th>
                <th scope="col">GebruikerID</th>
                <th scope="col">Naam</th>
                <th scope="col">Locatie</th>
                <th scope="col">Biografie</th>
                <th></th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let bedrijf of (bedrijven | async)">
                <td>{{bedrijf.companyID}}</td>
                <td>{{bedrijf.userID}}</td>
                <td>{{bedrijf.name}}</td>
                <td>{{bedrijf.location}}</td>
                <td>{{bedrijf.biography}}</td>
                <td>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bedrijfModal"
                          data-whatever="@mdo" (click)="onClickBewerkBedrijf(bedrijf.companyID)">Bewerk
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bedrijfModal"
                          data-whatever="@mdo">Voeg toe
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


      <div class="modal fade" id="makerModal" tabindex="-1" role="dialog" aria-labelledby="makerModalLabel"
           aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="makerModalLabel">{{maker.nickname}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form (ngSubmit)="onSubmitOpslaanMaker()" [formGroup]="makerForm">
              <div class="modal-body">
                <div class="form-group">
                  <label for="typeID" class="col-form-label">TypeID:</label>
                  <input type="text" class="form-control" id="typeID" content="{{maker.typeID}}"
                         formControlName="typeID">
                </div>
                <div class="form-group">
                  <label for="nickname" class="col-form-label">Nickname:</label>
                  <input type="text" class="form-control" id="nickname" content="{{maker.nickname}}"
                         formControlName="nickname">
                </div>
                <div class="form-group">
                  <label for="birthdate" class="col-form-label">Geboortedatum:</label>
                  <input type="text" class="form-control" id="birthdate" content="{{maker.birthDate}}"
                         formControlName="birthdate">
                </div>
                <div class="form-group">
                  <label for="biography" class="col-form-label">Biografie:</label>
                  <input type="text" class="form-control" id="biography" content="{{maker.biography}}"
                         formControlName="biography">
                </div>
                <div class="form-group">
                  <label for="linkedIn" class="col-form-label">LinkedIn:</label>
                  <input type="text" class="form-control" id="linkedIn" content="{{maker.linkedIn}}"
                         formControlName="linkedIn">
                </div>
                <div class="form-group">
                  <label for="experience" class="col-form-label">Ervaring:</label>
                  <input type="text" class="form-control" id="experience" content="{{maker.experience}}"
                         formControlName="experience">
                </div>
                <div class="form-group">
                  <label for="contactInfo" class="col-form-label">Contact info:</label>
                  <input type="text" class="form-control" id="contactInfo" content="{{maker.contactInfo}}"
                         formControlName="contactInfo">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                <button type="submit" class="btn btn-primary" [disabled]="!makerForm.valid || submitted">Opslaan
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="modal fade" id="bedrijfModal" tabindex="-1" role="dialog" aria-labelledby="bedrijfModalLabel"
           aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="bedrijfModalLabel">{{bedrijf.name}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form (ngSubmit)="onSubmitOpslaanBedrijf()" [formGroup]="bedrijfForm">
              <div class="modal-body">
                <div class="form-group">
                  <label for="name" class="col-form-label">Naam:</label>
                  <input type="text" class="form-control" id="name" content="{{bedrijf.name}}"
                         formControlName="name">
                </div>
                <div class="form-group">
                  <label for="location" class="col-form-label">Locatie:</label>
                  <input type="text" class="form-control" id="location" content="{{bedrijf.location}}"
                         formControlName="location">
                </div>
                <div class="form-group">
                  <label for="biographyCompany" class="col-form-label">Biografie:</label>
                  <input type="text" class="form-control" id="biographyCompany" content="{{bedrijf.biography}}"
                         formControlName="biographyCompany">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                <button type="submit" class="btn btn-primary" [disabled]="!bedrijfForm.valid || submitted">Opslaan
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
