<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <div class="mt3"><strong>Nickname: {{maker.nickname}}</strong><br/></div>
      <div class="mt3"><strong>Biografie: {{maker.biography}}</strong><br/></div>
      <div class="mt3"><strong>Geboortedatum: {{maker.birthDate}}</strong><br/></div>
      <div class="mt3"><strong>Ervaring: {{maker.experience}}</strong><br/></div>
      <div class="mt3"><strong>LinkedIn: {{maker.linkedIn}}</strong><br/></div>
    </div>
  </div>
</div>

